* {
  padding: 0;
  margin: 0;
}

.Main {
  display: grid;
  grid-template-columns: 180px 80%;
}

@media only screen and (max-width: 620px) {
  .SortMenu {
    grid-column-start: 1;
  }
  .GamesList {
    grid-column-start: 1;
  }
}

.SortMenu {
  grid-column-start: 1;
  grid-column-end: 2;
}

.GamesList {
  display: inline-block;
  margin: 0 auto;
  max-width: 35vw;
  min-width: 380px;
  grid-column-start: 2;
  background-color: white;
}

.GamesList__h2 {
  text-align: center;
  grid-column-start: 2;
  text-transform: capitalize;
  margin-top: 0.5rem;
  color: #524942;
}

.GamesList__GamesCard {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-rows: 40% 35% 25%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #c9995b;
  border-radius: 20px;
  padding: 0.5rem;
  height: 140px;
  background-color: #d3c9bc;
  color: #524942;
}

.GamesList__GamesCard:hover {
  border: 2px solid #524942;
}

.GamesCard__h3 {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  color: #524942;
}

.GamesCard__h3:hover {
  text-decoration: underline;
}

.GamesCard__date {
  grid-column-start: 4;
  grid-row-start: 1;
  text-align: center;
}

.GamesCard__category {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.GamesCard__img {
  margin-top: auto;
  margin-bottom: auto;
  justify-self: center;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  max-height: 100px;
  max-width: 100px;
  border-radius: 20px;
}

.GamesCard__commentCount {
  margin-top: 0.5rem;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}