* {
  padding: 0;
  margin: 0;
}

.App {
  background-color: #d3c9bc;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 620px) {
  .Main {
    display: grid;
    grid-template-columns: 180px 80%;
  }

  .GamesList {
    grid-column-start: 2;
    margin: 0 auto;
    max-width: 45vw;
  }
}

@media only screen and (max-width: 619px) {
  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SortMenu {
    grid-column-start: 1;
    width: 100vw;
  }

  .GamesList {
    grid-column-start: 1;
    max-width: 100vw;
  }
}

.SortMenu {
  grid-column-start: 1;
  grid-column-end: 2;
}

.GamesList {
  display: flex;
  flex-direction: column;
  background-color: #d3c9bc;
}

.AddReview__button {
  border: 2px solid #c9995b;
  border-radius: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #d3c9bc;
  color: #524942;
  cursor: pointer;
  padding: 0.2rem;
}

.AddReview__button:hover {
  border: 2px solid #524942;
  border-radius: 20px;
}

.GamesList__h2 {
  text-align: center;
  grid-column-start: 2;
  text-transform: capitalize;
  margin-top: 0.5rem;
  color: #524942;
}

.GamesList__GamesCard {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-rows: 40% 35% 25%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #c9995b;
  border-radius: 20px;
  padding: 0.5rem;
  height: 140px;
  background-color: #d3c9bc;
  color: #524942;
  min-width: 18rem;
}

.GamesList__GamesCard:hover {
  border: 2px solid #524942;
}

.GamesCard__h3 {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  color: #524942;
}

.GamesCard__h3:hover {
  text-decoration: underline;
}

.GamesCard__date {
  grid-column-start: 4;
  grid-row-start: 1;
  text-align: center;
}

.GamesCard__img {
  margin-top: auto;
  margin-bottom: auto;
  justify-self: center;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  max-height: 100px;
  max-width: 100px;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.GamesCard__commentCount {
  margin-top: 0.5rem;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.GamesCard__delete {
  grid-column-start: 4;
  grid-row-start: 3;
  border: 0px;
  background-color: transparent;
}

.delete_img {
  max-width: 15px;
  cursor: pointer;
}

.Error {
  text-align: center;
  margin-top: 1rem;
  color: red;
}