* {
  padding: 0;
  margin: 0;
}

.GamesList {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.GamesList__h2 {
  text-align: center;
  grid-column-start: 2;
  text-transform: capitalize;
}

.GamesList__GamesCard {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-rows: 40% 35% 25%;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  min-height: 8rem;
}

.GamesCard__h3 {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.GamesCard__category {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.GamesCard__img {
  margin: auto;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  max-height: 100px;
  max-width: 100px;
}

.GamesCard__votes {
  grid-column-start: 1;
  grid-row-start: 3;
}

.GamesCard__commentCount {
  grid-column-start: 2;
  grid-row-start: 3;
}