.Review__CommentList {
    border-top: 1px solid black;
}

.Review__CommentTitle {
    margin-top: 0.5rem;
    text-align: center;
}

.CommentList__CommentCard {
    margin: 1rem auto 1rem auto;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 20px;
    word-wrap: break-word;
    max-width: 40rem;
}

.CommentCard__body {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}