.header {
    text-align: center;
    border-bottom: 0.1rem solid #99714f;
    padding: 0.2rem;
    min-height: 10vh;
    background: linear-gradient(to right, transparent 0%, #c9995b 200px, #99714f 80%), url("../../public/chess.png");
    background-repeat: no-repeat;
    background-size: contain;
}
  
.header__h1 {
    text-decoration: none;
    color: #524942;
}

.header__h1 h1 {
    display: inline-block;
    margin: 3rem;
}

.header__h1:hover {
    color: #c8e6e5;
}

.header__welcome {
    margin-top: 0.3rem;
    text-decoration: none;
    color: #524942;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: end;
}

.header__div{
    margin-right: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header__signout{
    border-radius: 20px;
    padding: 0.2rem;
    border: #c9995b 3px solid;
    color:#524942;
    cursor: pointer;
    background-color: #e7d9c6;
}

.header__signout:hover {
    border: #524942 3px solid;
}

.header__signdiv {
    display: flex;
    margin-right: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    justify-content: flex-end;
}

.header__sign:hover {
    color: #c8e6e5;
}

.header__sign {
    display: inline-block;
    text-decoration: none;
    color: #524942;
}