.Review__PostComment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PostComment__Input {
    border: #524942 3px solid;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 20rem;
}

.PostComment__Button {
    border-radius: 20px;
    padding: 0.8rem;
    border: #c9995b 3px solid;
    color:#524942;
    cursor: pointer;
    background-color: #e7d9c6;
}

.PostComment__Button:hover {
    border: #524942 3px solid;
}