@media (min-width:800px){
    .Review {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.Review {
    margin: 0.5rem;
    color: #524942;
    background-color: #d3c9bc;
}

.Review__h2 {
    text-align: center;
    margin: 1rem;
}

.Review__InfoBar {
    display: flex;
    justify-content: space-between;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.Review__category {
  text-transform: capitalize;
}

.Review__img {
    max-width: 100vw;
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Review__InteractionBar {
    display: flex;
    justify-content: space-between;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.InteractionBar__Voting {
    display: flex;
}

.InteractionBar__commentCount {
    margin-left: 50%;
}

.Review__body {
    max-width: 700px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}